<div class="col-lg-4">
    <div class="card bg-light m-3" style="width: 18rem">
        <div class="card-header text-center text-white bg-dark">{{name}}</div>
        <img class="card-img-top" src="https://niftyimages.com/imgs/logos/api/api_circle.png" alt="API image">
        <div class="card-body">
            <p class="card-text text-center">{{url}}</p>
            <p class="card-text text-center">Category: {{tags}}</p>
            {{#if free}}
                <p class="card-text text-center text-white bg-success">Free</p>
            {{else}}
                <p class="card-text text-center text-white bg-danger">Paid</p>
            {{/if}}
            <p class="card-text text-center text-white bg-primary">{{clientServer}}</p>
        </div>
    </div>
</div>